body {
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    background-color: #202020;
    color: #ffffff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.post {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 70px;
    font-size: 120%;
}

a.menu:any-link {
    text-decoration-line: none;
    color: #000000;
}

.start-button {
    width:150px;
    background-color: #202020;
    color: orange;
    border: none;
    font-size: 120%;
    font-weight: 700;
    padding: 15px 0;
    cursor: pointer;
    border-radius:10px 10px 10px 10px;
}

.start-button:hover {
    text-decoration: underline;
}

.small-button {
    width: 50px;
    height: 50px;
    background-color: #202020;
    color: orange;
    border: none;
    font-size: 100%;
    font-weight: 600;
    padding: 15px 0;
    cursor: pointer;
    border-radius:10px 10px 10px 10px;
}

.small-button:hover {
    text-decoration: underline;
}

.upper-menu {
    text-decoration-line: none;
    color:gray;
}

.upper-menu:hover {
    color: orange;
}

.learn-menu {
    text-decoration-line: none;
    color:black;
}

.learn-menu:hover {
    color: orange;
}